@media (max-width:576px) {

    .menu-header {
        height: 535px;
    }
    .menu-header .back-img {
        background-image: url(Images/Img1.jpg);
        background-size: cover;
        height: 535px;
        width: 100%;
        display: flex;
        position: relative;
        background-color: #545050;
        background-blend-mode: multiply;
    }
    .logo {
        height: auto;
        width: auto;
        margin: 0px;
        padding: 0px;
        margin-top: -47px;
        font-weight: 900;
    }
    .navbar {
        height: auto;
            width: auto;
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-top: 0;
            font-weight: 900
    }
    .Lselect {
        height: 35px;
        width: 100px;
        background-color: black;
        color: white;
        text-align: center;
    }
    .menu-header button {
        height: 35px;
        width: 100px;
        background-color: crimson;
        transform: 1s all ease;
    }
    #content1 {
        position: absolute;
        top: 210px;
        color: white;
        text-align: center;
        font-size: 17px;
        width: 100%;
    }
    .content .email input[type="email"] {
        height: 40px;
        width: auto;
        margin-top: 65px;
        font-size: 19px;
    }
    .content span button {
        height: 43px;
        width: auto;
        background-color: crimson;
        color: white;
        margin: 0;
        padding: 0
    }
    
    .email span {
        margin-bottom: 10px;
    }

    .our-story {
        height: 405px;
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
    }
    .our-content {
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .our-stc {
        height: auto;
        width: auto;
        margin-top: 25px;
    }
    
    
    .Enjoy {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
        margin-left: auto;
    }
    .watch {
        font-size: 18px;
        width: auto;
        margin-left: auto;
        margin-top: 9px;
        text-align: center;
    }
    .video {
        position: absolute;
        top: 36px;
        right: auto;
    }
    .our-img {
        height: auto;
        width: auto;
        position: relative;
}
.video  img {
        height: 232px;
        width: 100ox;
        margin-left: -5px;
}
.our-img video{
    height: 250px;
    width: 298px;
    margin-top: 20px;
}





.our-content1 {
    height: auto;
    width: auto;
    background-color: black;
    display: flex;
    color: whitesmoke;
}
.our-story1 {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}
.our-img1 {
    height: auto;
    width: auto;
    position: relative;
    top: auto;
    align-items: center;
    left: auto;
}
.our-img1 img {
    height: 306px;
    width: 285px;
    margin-left: auto;
    margin-top: auto;
}
.our-con1 {
    height: 149px;
    width: 50%;
    margin-top: 20px;
    font-size: 28px;
    text-align: -webkit-center;
    margin-right: 140px;
}
.our-content1 {
    height: auto;
    width: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}
.our-story1 {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-img1 {
    height: auto;
    width: auto;
    position: relative;
    top: auto;
    align-items: center;
    left: auto;
}
.our-con1 {
    height: auto;
    width: auto;
    margin-top: auto;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.our-box {
    height: 70px;
    width: 245px;
    border: 3px solid rgb(113 107 107);
    position: relative;
    top: -28px;
    border-radius: 3%;
    margin-left: 10px;
    background-color: black;
}
.our-box .box-img {
    height: 58px;
    width: 45px;
    margin-top: 3px;
    margin-left: 6px;
}
.our-box .box-con1 {
    color: #f5f0f0;
    font-size: 14px;
    position: relative;
    bottom: 39px;
    left: auto;

}
.our-box .box-con2 {
    color: #1531a3;
    position: relative;
    left: 54px;
    bottom: 36px;
}

.our-content1 .our-story1 .our-img1 .our-box #download {
    position: relative;
    bottom: 72px;
    left: 186px;
    height: 41px;
    width: 42px;
} 


.our-story-3 {
    height: 410px;
    width: auto;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}
.our-content-3 {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.our-stc-3 {
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 39px;
}
.our-img-3 {
    height: auto;
    width: auto;
    position: relative;
    margin-top: 50px;
}

.our-img-3 img {
    height: auto;
    width: 338px;
    margin-left: -63px;
    margin-top: -186px;
}
.our-img-3 video {
    height: 170px;
    width: 210px;
    overflow: hidden;
}

.Enjoy-3 {
    font-size: 31px;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
}
.watch-3 {
    font-size: 17px;
    width: auto;
    margin-left: auto;
    margin-top: auto;
}
.video-3 {
    position: absolute;
    top: auto;
    right: auto;
}

/* section 4 */


.our-story-4 {
    height: 415px;
    width: 100%;
    display: flex;
    background-color: black;
    flex-direction: column;
 }
 .our-stc-4 {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
 }
 .our-img-4 {
    height: auto;
    width: auto;
    text-align: center;
    margin-left: -70px;
 }
 .our-content-4 {
    height: 200px;
    width: auto;
    color: white;
 }
 .our-story-4 .our-stc-4 .our-img-4 img {
    height: 255px;
    width: 275px;
 }
 .our-story-4 .our-stc-4 .our-content-4 .create {
    height: auto;
    width: auto;
    font-size: 22px;
    margin-top: auto;
    text-align: center;
 }
 .our-story-4 .our-stc-4 .our-content-4 .send {
    height: auto;
    width: auto;
    font-size: 18px;
    text-align: center;
 }
 

                                /* section -- 5 */


.our-story-5 {
    background-color: black;
    height: auto;
}
.our-content-5 {
    background-color: black;
    text-align: center;
    color: white;
    height: 100px;
    width: auto;
}

.our-story-5 .dropdown nav {
    width: auto;
    background: black;
    margin: 40px auto;
    margin-top: -36px;
    padding-left: 20px;
    padding-right: 20px;
    color: antiquewhite;
}

.our-story-5 .dropdown span {
    padding: 15px;
    background: #2d2f31;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
}

.our-story-5 .dropdown span::after {
float: right;
right: 10%;
content: "+";
}

.our-story-5 .dropdown .slide {
clear:both;
width:100%;
height:0px;
overflow: hidden;
text-align: center;
transition: height .4s ease;
}
    /* section 1 */
.our-story-5 .dropdown .slide li {padding : 5px;}
#touch {position: absolute; opacity: 0; height: 0px;}    
#touch:checked + .slide {height: auto;}

    /* section 2 */
.dropdow-1 .slide li {padding : 5px;}
.dropdown-1 #touch1 {position: absolute; opacity: 0; height: 0px;}    
.dropdown-1 #touch1:checked + .slide {height: auto;}

/* /* section 3 * */
.dropdown-2 .slide li {padding : 5px;}
.dropdown-2 #touch2 {position: absolute; opacity: 0; height: 0px;}    
.dropdown-2 #touch2:checked + .slide {height: auto;}

/* /* section 4 * */
.dropdown-3 .slide li {padding : 5px;}
.dropdown-3 #touch3 {position: absolute; opacity: 0; height: 0px;}    
.dropdown-3 #touch3:checked + .slide {height: auto;}

/* /* section 5 * */
.dropdown-4 .slide li {padding : 5px;}
.dropdown-4 #touch4 {position: absolute; opacity: 0; height: 0px;}    
.dropdown-4 #touch4:checked + .slide {height: auto;}

/* /* section 6 * */
.dropdown-5 .slide li {padding : 5px;}
.dropdown-5 #touch5 {position: absolute; opacity: 0; height: 0px;}    
.dropdown-5 #touch5:checked + .slide {height: auto;}

.email-btn {
    text-align: center;
    color: white;
}
.email-btn input[type=email] {
    height: 40px;
    width: auto;
    margin-top: 29px;
}
.email-btn button {
    height: 40px;
    width: auto;
    background-color: crimson;
}
 .question {
    color: #6d6464;
    /* text-align: center; */
    margin-top: 3;
    /* margin-right: 670px; */
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
 }

/* footer */

.footer {
    height: 415px;
    width: auto;
    background-color: black;
    color: #6d6464;
    }
.footertext {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30;
    margin-left: auto;
    text-align: left;
    }
.footertext li {
    list-style: none;
    margin: 20px;
}
.footertext .one {
    border-bottom: 1px solid grey;
    margin-top: 10px;
}
.footertext .two {
    border-bottom: 1px solid grey;
    margin-top: 10px;
}
.FLselect {
    height: 35px;
    width: 100px;
    background-color: black;
    color: white;
    text-align: center;
  }
    
}
